{{!-- Heading --}}
<h1>Bob's Burgers</h1>

{{!-- This displays the menu of burgers ready to be devoured --}}
<div class="col-md-6 text-center" class="task">
	<div class="row">
		<div id="menu">
			<h3>Menu</h3>
			{{!-- This displays all burgers that contain the value of devoured: false and gives the option to change the value to true --}}
			{{#each burger_data}}
			{{#unless this.devoured}}
			<div class="col-md-9 text-center">
				<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				<!-- {{this.Date}} -->
			</div>
			<div class="col-md-3 text-center">
				<form class="devour-form button-size">
					<input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
					<button type="submit" class="btn btn-default" id="dbutton">Devour it!</button>
				</form>
			</div>
			{{/unless}}
			{{/each}}
		</div>
	</div>
</div>
{{!-- This displays the list of devoured burgers, which have the value of devoured: true --}}
<div class="col-md-6 text-center" class="task">
	<div id="devoured">
		<h3> Eaten</h3>
		{{#each burger_data}}
		{{#if this.devoured}}
		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
		{{/if}}
		{{/each}}
	</div>
</div>


{{!-- This allows the user to input a new burger, which will be added to the database as well as the html --}}
<div class="container">
	<div class="row">
		<div id="addburger">
			<div class="col-md-12 text-center enter_section">
				<p>Order your own unique burger!</p>
				<form action="/burgers/create" method="POST">
					<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
					<button type="submit" class="btn btn-primary" id="text-enter-button">Order!</button>
				</form>

			</div>
		</div>
	</div>
</div>